# Creating the function
- Before I can create the "virus" from the movie, I need to create the version without bugs
- This notebook will walkthrough the process of my idea of what the function would be (with my admitably limited domain knowledge)

In [1]:
# import the function that creates the fank bank data
import Data

In [2]:
# using the function and assigning it to a variable
df = Data.create_data()

In [3]:
# checking the data is there
df

          balance  interest_rate  calculated_interest  new_balance
1     7339.505335       0.041790           306.721518  7646.226853
2     5840.807995       0.094163           549.987097  6390.795091
3     7385.953507       0.080463           594.294242  7980.247749
4     5028.948453       0.078919           396.877727  5425.826180
5     8995.849905       0.095512           859.212922  9855.062827
...           ...            ...                  ...          ...
996   7550.713287       0.094582           714.165087  8264.878374
997   9581.023008       0.032049           307.062403  9888.085410
998   8731.237948       0.085887           749.899809  9481.137757
999   5319.248110       0.031541           167.776794  5487.024904
1000  8142.147196       0.034238           278.770283  8420.917479

[1000 rows x 4 columns]

# Rounding
So, how do we figure out how much is left over after rounding?
- Determine the amount when rounded and subtract the rounded from the original
- rounded_balance - original balance
- when positive, the total was rounded down
- when negative, the total was rounded up

In [6]:
# an example of this calculation on the first observation
round(df.new_balance[1],2) - df.new_balance[1]

0.0031473192439079867